[submodule "vendor/uefi-headers"]
	path = vendor/uefi-headers
	url = https://github.com/kiznit/uefi-headers.git
[submodule "src/third_party/fatfs"]
	path = src/third_party/fatfs
	url = https://github.com/abbrev/fatfs.git
