# Build output
build/
out/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps/

# Compile commands (generated, but symlink to build/ is ok)
compile_commands.json

# Clangd cache
.cache/
.clangd/

# Binaries
*.efi
*.o
*.a
*.so

# QEMU runtime files
OVMF_VARS.fd
brook_disk.img

# VS Code
.vscode/settings.json
.vscode/launch.json

# Editor
*.swp
*.swo
*~
.DS_Store
*.wad
data/wallpaper.raw
